
/* @layer tailwind-base, primereact, tailwind-utilities; */

/* VITE ONLY: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
/* @import 'primereact/resources/themes/lara-light-blue/theme.css'; */

/* NEXT.JS ONLY: In "styled" mode you must also add the layer(primereact) */
/* @import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact); */

/* @layer tailwind-base {
  @tailwind base;
} */

/* @layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
} */


@import "tailwindcss";

@theme {
    --color-bg-start: #191436;
    --color-bg-mid: #27275c;
    --color-bg-stop: #111b36;
    --color-navbar: #1b1b2e;
    --color-border: #3e4d75;
}

button {
  cursor: pointer;
}